# Gathering Data

In [2]:
# import important python modules
import pandas as pd 
import numpy as np
from scipy import stats, optimize, interpolate

In [3]:
# gathering data from files

twitter_archive_orig = pd.read_csv('twitter-archive-enhanced.csv')
image_predictions_orig = pd.read_csv('image-predictions.tsv',sep='\t')
tweet_jso_orig=pd.read_json('tweet_json_copy.json',lines=True)

In [4]:
# Take a copy from the original data frames 
twitter_archive=twitter_archive_orig.copy()
image_predictions=image_predictions_orig.copy()
tweet_jso=tweet_jso_orig.copy()

# Assess twitter_archive

In [5]:
# exporing twitter_archive data 
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [6]:
#  take a priefe a bout data meaning and it's details 
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [7]:
# look for the columns info and not-null count values to see what is important to keep it 
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [8]:

floofer=twitter_archive.floofer.value_counts()
floofer

None       2346
floofer      10
Name: floofer, dtype: int64

In [9]:
doggo=twitter_archive.doggo.value_counts()
doggo

None     2259
doggo      97
Name: doggo, dtype: int64

In [10]:

pupper=twitter_archive.pupper.value_counts()
pupper

None      2099
pupper     257
Name: pupper, dtype: int64

In [11]:

puppo=twitter_archive.puppo.value_counts()
puppo

None     2326
puppo      30
Name: puppo, dtype: int64

In [12]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [13]:

twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [14]:
# exploring important columns to see it's unique values and formating 
# twitter_archive['source'].head(10)
# twitter_archive['timestamp'].head(10)
# twitter_archive['expanded_urls'].head(10)
# twitter_archive['rating_numerator'].head(10)
# twitter_archive['rating_denominator'].head(10)
# twitter_archive['name'].head(10)
# twitter_archive['doggo'].head(10)
# twitter_archive['doggo'].unique()
# twitter_archive['floofer'].head(10)
# twitter_archive['floofer'].unique()
# twitter_archive['puppo'].head(10)
# twitter_archive['puppo'].unique()
# twitter_archive['pupper'].head(10)
# twitter_archive['pupper'].unique()

# Assess image_predictions

In [15]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [16]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [17]:
image_predictions.loc[image_predictions['p1'].str[0].str.isupper()]['p1'].unique()

array(['Welsh_springer_spaniel', 'German_shepherd', 'Rhodesian_ridgeback',
       'Bernese_mountain_dog', 'Gordon_setter', 'Walker_hound', 'Lhasa',
       'English_setter', 'Italian_greyhound', 'Maltese_dog', 'Chihuahua',
       'Blenheim_spaniel', 'Pembroke', 'Chesapeake_Bay_retriever',
       'Ibizan_hound', 'Border_collie', 'Labrador_retriever', 'Airedale',
       'West_Highland_white_terrier', 'Rottweiler', 'Siberian_husky',
       'Saint_Bernard', 'Tibetan_terrier', 'Yorkshire_terrier',
       'Pomeranian', 'Norwegian_elkhound', 'Angora', 'Arctic_fox',
       'Staffordshire_bullterrier', 'Lakeland_terrier',
       'American_Staffordshire_terrier', 'Shih-Tzu', 'French_bulldog',
       'Pekinese', 'Brittany_spaniel', 'Arabian_camel',
       'Brabancon_griffon', 'Eskimo_dog', 'Christmas_stocking',
       'German_short-haired_pointer', 'Shetland_sheepdog',
       'Irish_terrier', 'English_springer', 'Sussex_spaniel',
       'Dandie_Dinmont', 'Norwich_terrier', 'Norfolk_terrier',
       'Old_English_sheepdog', 'Samoyed', 'African_hunting_dog',
       'Doberman', 'Loafer', 'Siamese_cat', 'Great_Pyrenees',
       'Newfoundland', 'Cardigan', 'Greater_Swiss_Mountain_dog',
       'African_crocodile', 'Scottish_deerhound', 'Irish_water_spaniel',
       'Boston_bull', 'Japanese_spaniel', 'EntleBucher', 'Irish_setter',
       'Leonberg', 'Weimaraner', 'Great_Dane', 'Tibetan_mastiff',
       'Scotch_terrier', 'Mexican_hairless', 'Australian_terrier',
       'Appenzeller', 'Border_terrier', 'Egyptian_cat',
       'Bedlington_terrier', 'Saluki', 'American_black_bear',
       'African_grey', 'Madagascar_cat', 'Afghan_hound'], dtype=object)

In [18]:
image_predictions.loc[image_predictions['p1'].str[0].str.islower()][].unique()

SyntaxError: invalid syntax (<ipython-input-18-27fa11196539>, line 1)

# Assess tweet_jso

In [ ]:
tweet_jso.columns

In [ ]:
tweet_jso.id_str.count()

In [ ]:
tweet_jso.truncated.unique()

In [ ]:
tweet_jso.full_text.head()

In [ ]:
tweet_jso.entities
tweet_jso.entities[0]

In [ ]:
tweet_jso.extended_entities
tweet_jso.extended_entities[0]

In [ ]:
tweet_jso.source

In [ ]:
tweet_jso.user

In [ ]:
tweet_jso.geo

In [ ]:
tweet_jso.coordinates

In [ ]:
tweet_jso.is_quote_status

In [ ]:
tweet_jso.place

In [ ]:
tweet_jso.contributors

In [ ]:
tweet_jso.is_quote_status

In [ ]:
tweet_jso.retweet_count

In [ ]:
tweet_jso.favorite_count

In [ ]:
tweet_jso.favorited

In [ ]:
tweet_jso.possibly_sensitive

In [ ]:
tweet_jso.retweeted
tweet_jso.retweeted.unique()

In [ ]:
tweet_jso.possibly_sensitive_appealable

In [ ]:
tweet_jso.lang

In [ ]:
tweet_jso.retweeted_status
tweet_jso.loc[tweet_jso.retweeted_status.notnull()]

In [ ]:
tweet_jso.quoted_status

In [ ]:
tweet_jso.display_text_range

#  Cleansing Process (quality and Tidy )

# quality issue 1 : get the Source and  Remove the "a" tags

In [ ]:

def source_slice(source):
     return source.split('">')[1][:-4]
twitter_archive.source=twitter_archive.source.apply(source_slice)

# quality issue 2 :
since ['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp','in_reply_to_status_id','in_reply_to_user_id','expanded_urls']
will not used we can drop the none null values then drop the columns

In [ ]:
# Drop the not null values in the columne mentioned above
twitter_archive.drop(twitter_archive[twitter_archive.retweeted_status_id.notnull()].index,inplace=True)
twitter_archive.drop(twitter_archive[twitter_archive.retweeted_status_user_id.notnull()].index,inplace=True)
twitter_archive.drop(twitter_archive[twitter_archive.retweeted_status_timestamp.notnull()].index,inplace=True)
twitter_archive.drop(twitter_archive[twitter_archive.in_reply_to_status_id.notnull()].index,inplace=True)
twitter_archive.drop(twitter_archive[twitter_archive.in_reply_to_user_id.notnull()].index,inplace=True)

In [ ]:
# Drop the columne
twitter_archive.drop(['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp','in_reply_to_status_id','in_reply_to_user_id','expanded_urls'],axis=1,inplace=True)

# quality issue 3 : 
convert timestamp to timestamp instead of object

In [ ]:
 twitter_archive['timestamp']=pd.to_datetime(twitter_archive['timestamp'])
twitter_archive['timestamp'].head()

# quality issue :4
rating_numerator can't be bigger than rating_denominator so i assigned all the rating_numerator bigger than the rating_denominator to 10

In [ ]:
# assign the rating_numerator wich is bigger than rating_denominator to be 10
twitter_archive.loc[(twitter_archive['rating_numerator'] > 10 )==True,'rating_numerator']=10

In [ ]:
twitter_archive.head(2)

# quality issue :5
# Drop un-used columns

In [ ]:
# Drop un unsed columns 
image_predictions.drop(['p2','p2_conf','p2_dog','p3','p3_conf','p3_dog','img_num','jpg_url','p1_conf','p1_dog'],axis =1,inplace=True)

# quality issue : 6
filtring the dog names , as the names must start with capital letters

In [ ]:
# get all the names with capital letters
twitter_archive.loc[twitter_archive['name'].str[0].str.isupper()]['name'].unique()

In [ ]:
# get all the names with lower letters
drbd_names=twitter_archive.loc[twitter_archive['name'].str[0].str.islower()]['name'].unique()
drbd_names

In [ ]:
# drop all the names with ower letter in the beginning , beacuse it seems to be inconsequential 
twitter_archive.loc[twitter_archive['name'].isin(drbd_names)==True,'name']="None"

# qulaity issue :7

In [ ]:
# drop not used columns 
tweet_jso.drop(['id_str','truncated','entities','extended_entities','in_reply_to_status_id','user','geo','coordinates','place','contributors','is_quote_status','favorite_count','favorited','retweeted','possibly_sensitive','possibly_sensitive_appealable','retweeted_status','quoted_status_id','quoted_status_id_str','quoted_status'],axis=1,inplace=True)
tweet_jso.drop(['in_reply_to_status_id_str','in_reply_to_user_id','in_reply_to_user_id_str','in_reply_to_screen_name','created_at'],axis=1,inplace=True)
tweet_jso.drop(['display_text_range','full_text','source'],axis=1,inplace=True)

In [ ]:
tweet_jso

# qulaity issue :8
drop all values that is not belomg to Dog names in p1 column image_predictions

In [ ]:
image_predictions.loc[image_predictions['p1'].str[0].str.isupper()]['p1'].unique()

In [ ]:
drbd_p1=image_predictions.loc[image_predictions['p1'].str[0].str.islower()]['p1'].unique()
drbd_p1

In [ ]:
# drop all the names with lower letter in the beginning , beacuse it seems to be inconsequential 
image_predictions.loc[image_predictions['p1'].isin(drbd_p1)==True,'p1']="None"

# titdy issue :1
compinning the 4 columns puppo,pupper,floofer,doggo in one column

In [ ]:
# convert the null values with to empty string ""
twitter_archive.loc[twitter_archive['doggo']=='None','doggo']=""
twitter_archive.loc[twitter_archive['pupper']=='None','pupper']=""
twitter_archive.loc[twitter_archive['floofer'] =='None','floofer']=""
twitter_archive.loc[twitter_archive['puppo'] =='None','puppo']=""
# compin the 4 columns (puppo,pupper,floofer,doggo) in 1 column 
twitter_archive['stage'] = twitter_archive.doggo + twitter_archive.floofer + twitter_archive.pupper + twitter_archive.puppo

In [ ]:
# get the unique values for the new column stage
twitter_archive['stage'].unique()

In [ ]:
# get the cases with "doggopuppo" value
twitter_archive.loc[twitter_archive['stage'].isin(['doggofloofer', 'doggopupper','doggopuppo'])]
twitter_archive.loc[twitter_archive.stage=="doggofloofer","stage"]="doggo/floofer"
twitter_archive.loc[twitter_archive.stage=="doggopupper","stage"]="doggo/pupper"
twitter_archive.loc[twitter_archive.stage=="doggopuppo","stage"]="doggo/puppo"

In [ ]:
twitter_archive['stage'].unique()

In [ ]:
pd.set_option('display.max_colwidth', 200)
twitter_archive.loc[twitter_archive['stage'].isin(['doggo/puppo', 'doggo/pupper','doggo/floofer'])]

In [ ]:
# Drop columns "doggo","pupper","floofer","puppo"
twitter_archive.drop(["doggo","pupper","floofer","puppo"],axis=1,inplace=True)

In [ ]:
twitter_archive.stage.unique()

# titdy issue :2

In [ ]:
# check the p1 values if it all 
image_predictions['p1']=image_predictions['p1'].str.lower()

# titdy issue :3

In [ ]:

# Rename "id" to "tweet_id"
tweet_jso.rename(columns={'id':'tweet_id'},inplace=True)

# titdy issue :4
compinning all the data frams in 1

In [ ]:
twitter_archive_master=pd.merge(tweet_jso,image_predictions,on='tweet_id')

In [ ]:
twitter_archive_master=pd.merge(twitter_archive_master,twitter_archive,on='tweet_id')

In [ ]:
twitter_archive_master.head(2)

In [ ]:
twitter_archive_master[twitter_archive_master['name'].str[0].str.islower()]['name'].unique()

In [ ]:
twitter_archive_master.stage.unique()

In [ ]:
twitter_archive_master

# ------------ Visualization

In [ ]:
# assing only the first 10 dog types
Dog_type=twitter_archive_master.p1.value_counts()[1:10]
Dog_type

In [ ]:
# Top ten 10 dogs types
Dog_type.plot(kind='pie',autopct='%1.0f%%',figsize=(10,8))

In [ ]:
# Look for the most used language
tweets_lang=twitter_archive_master.lang.value_counts()
tweets_lang
# most used language
tweets_lang.plot(kind='bar')

In [ ]:
dogs_names=twitter_archive_master.name.value_counts()[0:10]
dogs_names=dogs_names[1:]
# dogs_names
dogs_names.plot(kind='pie',autopct='%1.0f%%')

In [ ]:
# bar chart that represent the dog names ratio 
dogs_names.plot(kind='bar')

In [ ]:
# Look for the most common Dog Type 
# twitter_archive_master.stage.unique()
f=twitter_archive_master.groupby('stage')['rating_numerator'].sum()[1:]
f=pd.DataFrame(f)
f.plot(kind='pie',subplots=True,autopct='%1.0f%%', startangle=270,figsize=(15, 20))

In [ ]:
# The relation between the rating and retweet 
twitter_archive_master.plot(x='rating_numerator',y='retweet_count',kind='scatter')

In [ ]:
twitter_archive_master.to_csv('twitter_archive_master.csv', index=False)

In [ ]:
# some insights analysis 
pd.set_option('display.max_column',None)

In [ ]:
# twitter_archive_master.head(3)
ax = twitter_archive_master.head(3).plot()
fig = ax.get_figure()
fig.savefig('asdf.png')

In [ ]:
rtweet_max=twitter_archive_master['retweet_count'].max()
twitter_archive_master[twitter_archive_master['retweet_count']==rtweet_max]['text']